extends layout

block scripts
  script(src='/javascripts/PxLoader.js')
  script(src='/javascripts/PxLoaderImage.js')
  script(src='/javascripts/kinetic-v4.3.3.min.js')
  script(src='/javascripts/jquery-1.9.1.min.js')
  script(src='/javascripts/sprintf-0.7-beta1.js')
  script(src='/socket.io/socket.io.js')

  script(src='/javascripts/game2.js')

block content
  #messages
  #game-container
