doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/array-functions.js')
    if user
      block scripts
  body
    if !user
      a(href="/login") log in
    else
      block content
